.share {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  &__way {
    position: relative;
    width: 100%;
    float: left;
    margin-top: 22px;
    color: #afabad;
    &--link-first {
      /*position: relative;
      float: left;*/
      font-family: $calibri;
      font-size: 16px;
      color: #afabad;
      margin-right: 5px;
      &:hover {
        color: #afabad;
      }
    }
    &--link-second {
      /*position: relative;
      float: left;*/
      font-family: $calibri;
      font-size: 16px;
      color: #272727;
      margin-left: 5px;
      &:hover {
        color: #272727;
      }
    }
  }
  &__main {
    display: block;
    position: relative;
    width: 70%;
    float: left;
    box-sizing: border-box;
    .nav-tabs {
      li {
        a {
          color: #272727;
          font-family: $calibri;
          font-size: 16px;
        }
      }
      li.active {
        a {
          color: #272727;
          font-family: $calibri;
          font-size: 16px;
        }
      }
    }
  }
  &__about {
    display: block;
    position: relative;
    width: 100%;
    height: 154px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    resize: none;
    color: #272727;
    font-family: $calibri;
    font-size: 16px;
    padding: 14px 25px;
    box-sizing: border-box;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    float: left;
    .btn_orange {
      width: 169px;
      margin-top: 21px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: 290px;
      float: right;
      color: white;
      font-family: $calibri;
      font-size: 16px;
    }
  }
  &__title {
    position: relative;
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1b1b1b;
    font-family: $calibri;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    .notice {
      color: $orange;
    }
    .notice-small {
      text-transform: none;
    }
  }
  &__select {
    display: block;
    position: relative;
    width: 100%;
    height: 36px;
    float: left;
    font-family: $calibri;
    font-size: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    color: #1b1b1b;
    font-family: $calibri;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 17px;
    box-sizing: border-box;
  }
  &__price {
    display: block;
    position: relative;
    width: 100%;
    height: 36px;
    float: left;
    font-family: $calibri;
    font-size: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    color: #1b1b1b;
    font-family: $calibri;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 17px;
    box-sizing: border-box;
  }
  &__arr {
    content: "";
    display: block;
    position: absolute;
    top: 59px;
    right: 8px;
    width: 15px;
    height: 15px;
    text-align: center;
    background-image: url("../img/icons/select-arr-down-icon.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 2;
  }
  &__select:-ms-input-placeholder {
    color: #c6ccd2;
  }
  &__select::-webkit-input-placeholder {
    color: #c6ccd2;
  }
  .error {
    border: 1px solid red;
  }
  .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height: 36px;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
  }
  .btn {
    line-height: 25px;
  }
  .btn-primary {
    border: 1px solid;
    border-radius: 6px;
    height: 36px;
    color: #ffffff;
    background-color: $orange;
    border-color: $orange;
  }
  .fileinput-upload-button {
    display: none;
  }
  &__side {
    display: block;
    position: relative;
    width: 30%;
    float: left;
    padding-left: 22px;
    box-sizing: border-box;
    .share__title {
      color: #1b1b1b;
      font-family: $calibri;
      font-size: 16px;
      text-transform: none;
    }
    .share__title:nth-of-type(2), .share__title:nth-of-type(3) {
      margin-top: 9px;
    }
  }
  .form-group {
    display: block;
    position: relative;
    width: 45%;
    float: left;
  }
  .form-group:first-of-type {
    margin-right: 5%;
  }
  .input-group {
    width: 100%;
  }
  .input-group-addon {
    position: absolute;
    display: block;
    padding: 6px 12px;
    right: 12px;
    top: 3px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: transparent;
    border: navajowhite;
    border-radius: 0;
    z-index: 999;
  }
  .business-options__item--fields {
    position: relative;
    display: block;
    float: left;
    width: 200px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    float: left;
  }
  &__check {
    display: none;
  }
  &__check + .share__forcheck {
    flex: 1 0 10%;
    position: relative;
    display: block;
    float: left;
    margin: 5px 0;
    margin-right: 20px;
    /* width: 20%; */
    height: 30px;
  }
  &__check + .share__forcheck .share__checked {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #c6ccd2;
    border-radius: 3px;
    color: #1b1b1b;
    text-align: center;
    font-size: 16px;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    line-height: 27px;
    font-weight: 400;
  }
  &__check:checked + .share__forcheck .share__checked {
    background-color: $orange;
    color: white;
  }
  &__forcheck {
    display: block;
    position: relative;
    /*width: 10%;*/
    float: left;
  }
  &__container-select {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    float: left;
    margin: 21px 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e8e8e8;
    border-radius: 3px;
    .mark {
      display: block;
      position: relative;
      width: 39%;
    }
    .model {
      display: block;
      position: relative;
      width: 39%;
      label {
        padding-top: 3px;
      }
    }
    .year {
      display: block;
      position: relative;
      width: 20%;
      label {
        padding-top: 3px;
      }
    }
    .city {
      display: block;
      position: relative;
      width: 100%;
      label {
        padding-top: 3px;
      }
    }
    &--field {
      display: block;
      position: relative;
      /*width: 33%;*/
      height: 30px;
      background-color: #f3f3f3;
      border: 1px solid #c6ccd2;
      border-radius: 4px;
      float: left;
      color: #7e7c7c;
      font-family: $calibri;
      font-size: 16px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 2;
    }
    &--field:-ms-input-placeholder {
      color: #282828;
    }
    &--field::-webkit-input-placeholder {
      color: #282828;
    }
    &--field:before {
      content: attr(placeholder);
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 3%;
      z-index: -1;
      max-width: 100%;
      padding-left: 0px;
      text-align: left;
      white-space: nowrap;
      color: #282828;
      font-family: $calibri;
      font-size: 16px;
      overflow-x: hidden;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    &--field:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 9px;
      right: 3px;
      width: 15px;
      height: 15px;
      text-align: center;
      background-image: url("../img/icons/select-arr-down-icon.png");
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      z-index: 2;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
    }
    &--field label {
      display: inline-block;
      box-sizing: border-box;
      margin-bottom: 0px;
      /* padding: 0 10px; */
      padding-left: 10px;
      /* padding-top: 7px; */
      min-width: 100%;
      /* height: 38px; */
      background-color: transparent;
      white-space: nowrap;
      color: #282828;
      font-family: $calibri;
      font-size: 16px;
    }
    &--field input {
      display: none;
    }
    &--field label {
      display: none;
    }
    &--field div {
      min-width: 100%;
      max-height: 500px;
      overflow-x: hidden;
      background-color: #fff;
    }
    &--field input[type="radio"]:checked ~ div {
      position: absolute;
      top: 34px;
      z-index: 999;
      overflow-y: auto;
      box-shadow: -3px 0 0 #d6d6d6, 3px 0 0 #d6d6d6;
      border-top: 3px solid #d6d6d6;
      border-bottom: 3px solid #d6d6d6;
    }
    &--field input[type="radio"]:checked ~ div > label,
    .share__container-select--field input[type="radio"]:checked + label {
      display: block;
    }
    &--field input[type="radio"]:checked ~ div > label:hover {
      background-color: #ffa834;
    }
    &--field input[type="radio"]:not(:checked) ~ div > input[type="radio"]:checked + label {
      position: relative;
      /*z-index: -1;*/
    }
  }
  &__config {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    .business-options__item--fields {
      position: relative;
      display: block;
      float: left;
      width: 30%;
    }
    .business-options__item--check + .business-options__item--forcheck {
      width: 100%;
    }
  }
  &__code {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    &--field {
      display: block;
      position: relative;
      width: 90%;
      height: 36px;
      background-color: #dedede;
      border-radius: 6px;
      box-shadow: inset 0px 0px 1px rgba(0, 0, 1, 0.47);
      padding-left: 19px;
      color: #6a6969;
      font-family: $calibri;
      font-size: 14px;
    }
    .share__container-select {
      background-color: transparent;
      margin: 0;
      padding-left: 0;
    }
    .share__container-select .wheels-width label {
      padding-top: 3px;
    }
    .share__container-select--field:before {
      font-weight: 400;
    }
    .wheels-width {
      width: 100%;
    }
  }
  &__city {
    display: block;
    position: relative;
    width: 100%;
    float: left;
  }
  &__comments {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    .btn_orange {
      margin: 21px 0px 20px auto;
    }
  }
  &__contacts {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    .share__select {
      margin-bottom: 11px;
    }
    .btn_orange {
      margin: 21px 0px 20px auto;
    }
  }
  &__school {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    .business-options__item--check + .business-options__item--forcheck .business-options__item--checked {
      display: block;
      float: left;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 21px;
      margin-bottom: 0px;
      width: 17px;
      height: 17px;
      border: none;
      border-radius: 50%;
      background-color: #c6ccd2;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .12), inset 0 0 0 hsla(0, 0%, 100%, .11);
      cursor: pointer;
    }
    .business-options__item--check:checked + .business-options__item--forcheck .business-options__item--checked {
      background-color: #ff6b00;
      background-image: url("../img/icons/checked.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &__length {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: left;
    .share__code {
      width: 50%;
    }
  }
  &__wheels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: left;
    .share__code {
      width: 30%;
    }
  }
  .driveInfoWr{
    .mileage_sm {
      display: block;
      position: relative;
      width: 50%;
      float: left;
      margin: 20px 0 20px 0;
    }
    .parag_text {
      font-size: 15px;
      font-family: $calibri;
      color: rgb(27, 27, 27);
      font-weight: 600;
      text-align: left;
    }
    .mileage_sm input.mileage__next {
      width: 336px;
      border-color: rgb(208, 213, 218);
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      padding: 5px 0 5px 23px;
      background-color: rgb(222, 222, 222);
      box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 1, 0.47);
      -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 1, 0.47);
      -mox-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 1, 0.47);
    }
    .mileage_sm input.mileage__next--sm {
      width: 86px;
      border-color: rgb(208, 213, 218);
      border-width: 1px;
      border-style: solid;
      border-radius: 5px;
      text-align: center;
      padding: 5px 0 5px 0;
      margin-right: 35px;
      background-color: rgb(222, 222, 222);
      box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 1, 0.47);
      -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 1, 0.47);
      -mox-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 1, 0.47);
    }
    .select_type__driver {
      display: block;
      position: relative;
      width: 33%;
      float: left;
      margin-bottom: 10px;
    }
    .select_type__driver--sel {
      width: 82%;
      height: 30px;
      max-height: 30px;
      overflow: scroll;
      border-radius: 3px / 4px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      outline-style: none;
      border: 1px solid #C6CCD2;
      padding: 0 0px 0 10px;
      margin-bottom: 15px;
      display: block;
      float: left;
    }
  }
  .save_plus--sm {
    display: block;
    position: relative;
    float: left;
    .add_infoDriver, .del_infoDriver {
      font-size: 20px;
      font-weight: bold;
      font-family: $calibri;
      text-align: center;
      border-color: rgb(208, 213, 218);
      border-width: 1px;
      border-style: solid;
      color: #000000;
      cursor: pointer;
      line-height: 21px;
      display: inline-block;
      width: 24px;
      height: 24px;
      background-color: #dedede;
      border-radius: 3px;
    }
  }
  .save_plus--sm--wr{
    display: block;
    position: relative;
    width: 100%;
    float: left;
  }
  .parag_text_bold {
    font-size: 16px;
    font-family: $calibri;
    color: #1b1b1b;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 33px;
  }
  .select_type__driver {
    display: block;
    position: relative;
    width: 33%;
    float: left;
    margin-bottom: 10px;
    .parag_text {
      font-size: 16px;
      font-family: $calibri;
      color: rgb(27, 27, 27);
      font-weight: bold;
      text-align: left;
    }
    .select_type__driver--sel {
      width: 82%;
      height: 30px;
      max-height: 30px;
      overflow: scroll;
      border-radius: 3px / 4px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      outline-style: none;
      border: 1px solid #C6CCD2;
      padding: 0 0px 0 10px;
      margin-bottom: 15px;
      display: block;
      float: left;
    }
  }
}

