.business-header {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #272727;
}

.business-form{
  display: block;
  position: relative;
  width: 100%;
  float: left;
}

.business-menu {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #272727;
  overflow: hidden;
  &__img {
    display: block;
    position: relative;
    width: 35px;
    height: 30px;
    margin: 0px auto;
    margin-top: 27px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0.5;
    }
  }
  &__line {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    float: left;
    opacity: 0.4;
    background-color: #181818;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.09);
  }
  &__check {
    display: none;
  }
  &__check + .business-menu__forcheck {
    position: relative;
    display: block;
    width: 16.66%;
    float: left;
    height: 113px;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  &__check + .business-menu__forcheck .business-menu__checked {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #818181;
    text-align: center;
    font-size: 16px;
    font-family: $calibri;
    line-height: 27px;
    font-weight: 300;
    overflow: hidden;
  }
  &__check:checked + .business-menu__forcheck .business-menu__checked {
    background-color: transparent;
    color: white;
  }
  &__check:checked + .business-menu__forcheck .business-menu__checked {
    .business-menu__img {
      img {
        opacity: 1;
      }
    }
  }
  &__forcheck {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
  }
  &__forcheck:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 228px;
    opacity: 0.4;
    background-color: #181818;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.09);
  }
}

.business-categorie {
  display: block;
  position: relative;
  width: 30%;
  float: left;
  &__circle {
    display: block;
    position: relative;
    width: 93px;
    height: 93px;
    float: left;
    border-radius: 50%;
    background-color: #ff6b00;
    margin-left: -7px;
    margin-right: 7px;
    img {
      display: block;
      position: relative;
      width: 100px;
      height: 100px;
    }
  }
  &__desc {
    display: block;
    position: relative;
    width: 70%;
    float: left;
    &--carbax {
      display: block;
      position: relative;
      width: 100%;
      float: left;
      color: #fb601f;
      font-family: $calibri;
      font-weight: bold;
      text-align: left;
      font-size: 13px;
      line-height: 11px;
      margin-top: 18px;
    }
    &--title {
      display: block;
      position: relative;
      width: 100%;
      float: left;
      color: white;
      font-family: $calibri;
      font-weight: bold;
      text-align: left;
      font-size: 19px;
      line-height: 18px;
      margin-top: 16px;
    }
  }
}

.business-step {
  display: block;
  position: relative;
  width: 70%;
  float: left;
  &__title {
    display: block;
    position: relative;
    width: 340px;
    height: 31px;
    background-color: #f96400;
    border-radius: 16px;
    text-align: center;
    color: white;
    font-family: $calibri;
    font-size: 18px;
    line-height: 27px;
    margin: 40px auto;
    span {
      color: #272727;
    }
  }
}

.business-map {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  &__fields {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    background-color: #434142;
  }
  &__name {
    display: block;
    position: relative;
    width: 30%;
    height: 35px;
    float: left;
    background-color: white;
    border: none;
    border-radius: 2px;
    color: #222;
    font-family: $calibri;
    font-size: 16px;
    font-style: italic;
    padding-left: 23px;
    margin-left: 51px;
    margin: 11px 0;
  }
  &__name:-ms-input-placeholder {
    color: #222;
  }
  &__name::-webkit-input-placeholder {
    color: #222;
  }
  &__adress {
    display: block;
    position: relative;
    width: 54%;
    height: 35px;
    float: left;
    background-color: white;
    border: none;
    border-radius: 2px;
    color: #222;
    font-family: $calibri;
    font-size: 16px;
    font-style: italic;
    padding-left: 23px;
    margin-left: 12px;
    margin: 11px 0;
  }
  &__adress:-ms-input-placeholder {
    color: #222;
  }
  &__adress::-webkit-input-placeholder {
    color: #222;
  }
  &__container {
    position: relative;
    width: 100%;
    height: 250px;
    float: left;
    overflow: hidden;
    margin: 25px 0px;
    #businessMap {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
  &__files {
    display: block;
    position: relative;
    width: 320px;
    height: 35px;
    float: left;
    background-color: white;
    border: none;
    border-radius: 2px;
    margin-left: 51px;
    margin: 11px 0;
  }
  &__hover {
    display: block;
    position: relative;
    width: 123px;
    height: 35px;
    float: left;
    background-color: $orange;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-family: $calibri;
    font-size: 16px;
    line-height: 30px;
    background-image: url('../img/icons/adfile_bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    padding-left: 20px;
    margin-left: 0px;
    margin: 12px 0;
    z-index: 1;
  }
  &__adfile {
    display: block;
    position: absolute;
    top: 12px;
    left: 341px;
    width: 123px;
    height: 35px;
    float: left;
    opacity: 0;
    z-index: 2;
  }
  .share__main {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
  }
  .btn-primary{
    background-color: $orange;
    border-color: $orange;
  }
}

.business-descr {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #f3f1f1;
  &__title {
    display: block;
    position: relative;
    /*width: 100%;*/
    float: left;
    text-align: left;
    color: #434142;
    font-family: $calibri;
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
    margin-top: 16px;
    margin-left: 51px;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    height: 103px;
    float: left;
    background-color: #fff;
    margin: 20px 0px;
    resize: none;
    color: #222;
    font-family: $calibri;
    font-size: 16px;
    padding: 10px;
  }
}

.business-options {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #ffffff;
  &__title {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    text-align: left;
    color: #434142;
    font-family: $calibri;
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
    margin-bottom: 20px;
  }
  &__time {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    .business-options__item{
      width: 100%;
    }
  }
  &__comfort {
    display: block;
    position: relative;
    width: 100%;
    float: left;
  }
  &__item {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    &--fields {
      display: block;
      position: relative;
      width: 55px;
      float: left;
    }
    &--check {
      display: none;
    }
    &--check + .business-options__item--forcheck {
      display: block;
      position: relative;
      /*width: 100%;*/
      float: left;
      color: #383838;
      font-family: $calibri;
      font-size: 16px;
      line-height: 10px;
      margin: 10px 0px;
    }
    &--check + .business-options__item--forcheck .business-options__item--checked {
      display: block;
      width: 18px;
      height: 18px;
      border: none;
      border-radius: 50%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), inset 0 0 0 rgba(255, 255, 255, 0.11);
      float: left;
      background-color: #c6ccd2;
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 7px;
    }
    &--check:checked + .business-options__item--forcheck .business-options__item--checked {
      background-image: url('../img/icons/checked.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-color: $orange;
    }
    &--forcheck {
      display: block;
      position: relative;
      /*width: 10%;*/
      float: left;
    }
    &--img {
      display: block;
      position: relative;
      width: 205px;
      height: 46px;
      float: left;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--select {
      display: block;
      position: relative;
      width: 52px;
      height: 18px;
      float: left;
      border: 1px solid #dadee2;
      border-radius: 1px;
      text-align: center;
      color: #383838;
      font-family: $calibri;
      font-size: 14px;
      line-height: 10px;
      margin-top: 6px;
      margin: 0 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    &--element {
      display: block;
      position: relative;
      width: 70%;
      float: left;
      margin: 5px 0;
      img {
        display: block;
        position: relative;
        width: 22px;
        height: 20px;
        float: left;
        margin-right: 14px;
      }
      span {
        color: #383838;
        font-family: $calibri;
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
  &__credit {
    display: block;
    position: relative;
    width: 30%;
    float: left;
    h3 {
      width: 100%;
    }
    .business-options__item {
      width: 100%;
    }
  }
  &__services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    position: relative;
    float: left;
    .business-options__item{
      width: 100%;
    }
  }
}

.business-cars {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  /*border-top: 5px solid $orange;*/
  &__title {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    text-align: left;
    color: #434142;
    font-family: $calibri;
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &__type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 30%;
    float: left;
    text-align: center;
    &--head {
      display: block;
      position: relative;
      width: 100%;
      float: left;
      color: #434142;
      font-family: $calibri;
      font-size: 14px;
    }
    &--icon {
      display: block;
      position: relative;
      width: 170px;
      height: 96px;
      margin: 10px auto;
    }
    &--check {
      display: none;
    }
    &--check + .business-cars__type--forcheck {
      display: block;
      position: relative;
      float: left;
      color: #383838;
      font-family: $calibri;
      font-size: 16px;
      line-height: 10px;
      margin: 10px auto;
    }
    &--check + .business-cars__type--forcheck .business-cars__type--checked {
      display: block;
      width: 18px;
      height: 18px;
      border: none;
      border-radius: 50%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), inset 0 0 0 rgba(255, 255, 255, 0.11);
      float: left;
      background-color: #c6ccd2;
      cursor: pointer;
      margin-right: 10px;
    }
    &--check:checked + .business-cars__type--forcheck .business-cars__type--checked {
      background-image: url('../img/icons/checked.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-color: $orange;
    }
    &--forcheck {
      display: block;
      position: relative;
      float: left;
    }
  }
}

.business-footer {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #272727;
  &__title {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    text-align: left;
    color: #ffffff;
    font-family: $calibri;
    font-size: 16px;
    font-style: italic;
    line-height: 21px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &__contacts {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    &--field {
      display: block;
      position: relative;
      width: 260px;
      height: 35px;
      background-color: white;
      border: none;
      border-radius: 2px;
      float: left;
      color: #222;
      font-family: $calibri;
      font-size: 16px;
      font-style: italic;
      line-height: 21px;
      padding-left: 10px;
      margin: 10px 0;
    }
    &--field:-ms-input-placeholder {
      color: #222;
    }
    &--field::-webkit-input-placeholder {
      color: #222;
    }
    &--check {
      display: none;
    }
    &--check + .business-footer__contacts--forcheck {
      display: block;
      position: relative;
      width: auto;
      float: left;
      color: #fff;
      font-family: $calibri;
      font-size: 16px;
      font-style: italic;
      line-height: 13px;
      margin: 10px auto;
      margin-right: 20px;
    }
    &--check + .business-footer__contacts--forcheck .business-footer__contacts--checked {
      display: block;
      width: 13px;
      height: 13px;
      border: none;
      border-radius: 50%;
      border: 1px solid #fff;
      float: left;
      background-color: transparent;
      cursor: pointer;
      margin-right: 20px;
    }
    &--check:checked + .business-footer__contacts--forcheck .business-footer__contacts--checked {
      background-image: url('../img/icons/checked.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-color: transparent;
    }
    &--forcheck {
      display: block;
      position: relative;
      float: left;
    }
  }
  &__payment {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    &--check {
      display: none;
    }
    &--check + .business-footer__payment--forcheck {
      display: block;
      position: relative;
      width: 100%;
      float: left;
      color: #fff;
      font-family: $calibri;
      font-size: 16px;
      font-style: italic;
      line-height: 13px;
      margin: 15px auto;
    }
    &--check + .business-footer__payment--forcheck .business-footer__payment--checked {
      display: block;
      width: 13px;
      height: 13px;
      border: none;
      border-radius: 50%;
      border: 1px solid #fff;
      float: left;
      background-color: transparent;
      cursor: pointer;
      margin-right: 55px;
    }
    &--check:checked + .business-footer__payment--forcheck .business-footer__payment--checked {
      background-image: url('../img/icons/checked.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-color: transparent;
    }
    &--send {
      display: block;
      position: relative;
      width: 187px;
      height: 35px;
      float: none;
      background-color: #ff6b00;
      border: none;
      border-radius: 2px;
      text-align: center;
      color: white;
      font-family: $calibri;
      font-size: 18px;
      font-style: italic;
      text-transform: uppercase;
      line-height: 30px;
      margin-top: 80px;
      margin-bottom: 23px;
      @include transition(0.4s);
      &:hover {
        background-color: #cc5600;
      }
    }
  }
  &__enter{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    background-color: #cecece;
    .business-footer__contacts--field{
      margin-right: 70px;
    }
  }
}