.cabinet-sidebar{
  display: block;
  position: relative;
  width: 100%;
  height: 197px;
  float: left;
  background-image: url("../img/cabinet-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__avatar{
    display: block;
    position: relative;
    width: 115px;
    height: 115px;
    border: 1px solid #665d62;
    border-radius: 50%;
    overflow: hidden;
    margin: 27px auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    color: white;
    font-family: $calibri;
    font-size: 16px;
    margin-top: -12px;
  }
}