.cabinet-sidebar{
  display: block;
  position: relative;
  width: 100%;
  height: 197px;
  float: left;
  background-image: url("../img/cabinet-bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__avatar{
    display: block;
    position: relative;
    width: 115px;
    height: 115px;
    border: 1px solid #665d62;
    border-radius: 50%;
    overflow: hidden;
    margin: 27px auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    color: white;
    font-family: $calibri;
    font-size: 16px;
    margin-top: -12px;
  }
}
.cabinet-menu{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    border-bottom: 1px solid #212121;
    a {
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px 25px;
      text: #fff 300 12px;
      @include transition(.2s);
      &:hover {
        background-color: #212121;
      }
      .iconka{
        display: block;
        position: relative;
        float: left;
        width: 16px;
        margin-right: 15px;
      }
      .vip{
        color: #fa6400;
        font-size:13px;
      }
      @include respondTo(largeScreen) {
        font-size: 16px;
      }
    }
  }
  h4{
    margin: 0;
    padding: 15px 25px;
    text: $orange 300 uppercase 16px;
    border-bottom: 1px solid #212121;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}