.comfort_icons{
  display: inline-block;
  float: left;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
}
.wc {
  /*background:url("../img/icons/icons-sprites/wc.png");*/
}
.wc-active{
  /*background:url("../img/icons/icons-sprites/wc.png");
  background-position: 0px -25px;*/
}