.home{
	&-search{
		float: left;
		position: relative;
		width: 100%;
		background-color: $orange;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 50px 0;
		h1 {
			font-family: $osans;
			text: #121118 400 22px;
			margin-top: 0;
			line-height: 28px;
			strong {
				background-color: #fff;
				padding: 5px;
			}
		}
		&__form {
			float: left;
			width: 100%;
			display: flex;
	        flex-flow: row wrap;
	        -webkit-justify-content: space-between;
	                justify-content: space-between;
			&_field {
				height: 38px;
				-webkit-flex-basis: 87%;
				        flex-basis: 87%;
			    -webkit-box-sizing: border-box;
			       -moz-box-sizing: border-box;
			            box-sizing: border-box;
			    outline: none;
			    border: 1px solid #FDD6BB;
			    -webkit-box-sizing: border-box;
			       -moz-box-sizing: border-box;
			            box-sizing: border-box;
			    -webkit-border-radius: 16px;
			            border-radius: 16px;
			    padding: 0 20px;
			    margin-bottom: 10px;
			}
			&_btn {
				height: 38px;
				-webkit-flex-basis: 12%;
				        flex-basis: 12%;
			    -webkit-box-sizing: border-box;
			       -moz-box-sizing: border-box;
			            box-sizing: border-box;
				    -webkit-border-radius: 16px;
			            border-radius: 16px;
				    background-color: #FFF;
				    outline: none;
				    border: 1px solid #FDD6BB;
				    text: #272727 bold 16px;
				    @include transition(.2s);
				    cursor: pointer;
				    margin-bottom: 10px;
				    &:hover {
				    	background-color: #FDD6BB;
				    }
			}
		}
		small {
			text: #f2eed2 300;
			padding-left: 15px;
		}
	}
	&-categories {
		float: left;
		width: 100%;
		position: relative;
		&__item {
			position: relative;
			float: left;
			width: 50%;
			height: 250px;
			overflow: hidden;
			@include transition(.3s);
			&_circle {
				float: left;
				position: relative;
				size: 275px;
				margin-top: -20px;
				margin-left: -25px;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				background-color: $orange;
				 @include transition(.2s);
			    img {
			    	position: absolute;
			    	height: 250px;				    	
			    	left: 50%;
			    	-webkit-transform: translateX(-50%);
			    	   -moz-transform: translateX(-50%);
			    	    -ms-transform: translateX(-50%);
			    	     -o-transform: translateX(-50%);
			    	        transform: translateX(-50%);
			    	@include transition(.2s);
			    }
			}
			&_client {
				background-color: #4c4b4b;
				color: #3DB8AA;
				&:hover {
					background-color: darken(#4C4B4B,5%);
				}
				.home-categories__item_circle {
					background-color: #3DB8AA;
					img {
						bottom: 0;
					}
				}
			}
			
			&_business {
				background-color: #272727;
				color: $orange;
				&:hover {
					background-color: darken(#272727,5%);
				}
			}
			&:hover {
				.home-categories__item_circle {
					@include transition(.2s);
					img {
						@include transition(.2s);
						-webkit-transform: translateX(-50%) scale(1.1);
						   -moz-transform: translateX(-50%) scale(1.1);
						    -ms-transform: translateX(-50%) scale(1.1);
						     -o-transform: translateX(-50%) scale(1.1);
						        transform: translateX(-50%) scale(1.1);
					}
				}
			}
			&_desc {
				float: right;
				width: 50%;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				padding: 25px 50px 25px 0;
			}
			&_carbax {
				display: block;
				text: bold 28px;
			}
			&_title {
				display: block;
				margin-top: 50px;
				text: #fff bold 40px 1;
			}
		}
	}
	&-menu {
		float: left;
		width: 100%;
		position: relative;
		ul {
			display: flex;			
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				flex: 1 1 100%;
				display: block;
				text-align: center;
				text-decoration: none;
				a {
					display: block;
					width: 100%;
					background-color: #333;
					text: #fff 300 16px;
					padding: 15px 0;
					@include transition(.3s);
					 @include respondTo(tablet) {
					     height: 45px;
					  }
					&:hover {
						background-color: darken(#333, 10%);
					}
				}
				&:nth-of-type(even) {
					a {
						background-color: #434142;
						&:hover {
							background-color: darken(#434142,10%);
						}
					}
				}
			}
			 
		}
	}
	&-services {
		float: left;
		width: 100%;
		background-color: #272727;
		&__wrap {
			float: left;
			position: relative;
			width: 100%;
			overflow: hidden;
		}
		&__item {
			display: flex;
			position: relative;
			flex-flow: column wrap;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			float: left;
			width: 1 / 6 * 100%;
			height: 110px;
			margin-left: -1px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			text-align: center;
			border-top: 1px solid #232323;
			border-left: 1px solid #232323;
			@include transition(.3s);
			&:before {
				content: "";
				position: absolute;
				size: 1px 110px;
				top: 0;
				left: -2px;
				background-color: #2C2C2C;
			}
			&:hover {
				background-color: #232323;
			}
			img {				
				margin-bottom: 15px;
			}
			span {
				display: block;
				text: #fff 300 16px;
			}
			
		}
		&__coounter {
			position: absolute;
			top: 15px;
			right: 20px;
			size: 25px;
			background-color: #818181;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			text: #fff bold center 16px;
		}
	}
	&-mapbox {
		float: left;
		width: 100%;
		position: relative;
		padding: 10px 0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		text-align: center;
		&__btn {
			margin: 10px 0;
			text: #FFF 16px;
			padding: 10px 15px;
			outline: none;
			border: none;
			-webkit-border-radius: 6px;
			        border-radius: 6px;
			border-bottom: 5px solid darken($orange, 10%);
			svg {
				display: inline-block;
				size: 19px;
				vertical-align: middle;
				margin-right: 10px;
				fill: #fff;
			}
			&:hover {
				border-bottom: 5px solid $orange;
			}
		}
	}
	&-toplist {
		float: left;
		width: 100%;
		padding: 30px 0;
		background-color: #F3F1F1;
		h2 {
			text: $base bold center 24px;
		}
		&__table {
			float: left;
			width: 50%;
			text: $base 16px;
			text-align: right;
			border-collapse: collapse;
			caption {
				text: $orange left bold 16px;
				margin-bottom: 5px;
			}
			tr {
				/* border-bottom: 1px solid #E1E0E0; */
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
			    td {
			    	padding-right: 25px;
			    	padding-top: 5px;
			    	padding-bottom: 5px;
			    	a {
			    		font-weight: 500;
			    		color: $base;
			    		&:hover {
			    			text-decoration: underline;
			    		}
			    	}
			    }
			    td, th {
			    	border-bottom: 1px solid #E1E0E0;
			    }				
				td:first-of-type {
					text-align: left;
				}
				&:last-of-type {
					td, th {
						border-bottom: none;
					}					
				}
			}
			&:nth-of-type(even) {
				border-left: 1px solid #E1E0E0;
				caption {
					padding-left: 25px;
				}
				tr {
					td {
						padding-left: 25px;
					}
				}
			}
		}
	}
	&-salesearch {
		float: left;
		width: 100%;
		position: relative;
		background-color: $base;
		padding: 10px 0;
		&__link {
			float: left;
			width: 100%;
			margin-bottom: 10px;
			img {
				max-width: 110px;
				vertical-align: baseline;
				margin-right: 10px;
			}
			strong {
				text:#fff bold uppercase 18px;
			}
		}
		&__form {
			display: flex;			
			width: 100%;
			padding: 0;
			margin: 0 0 15px 0;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
			overflow: hidden;
			&_select, &_inp, &_find, &_map {
				height: 35px;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				    border: none;
				    outline: none;
			}
			&_select {
				flex: 1 1 98%;
				padding: 0 15px;	
				text: $base 500 16px;	
				appearance: none;		
			}
			&_inp {
				flex: 1 1 100%;
				background-color: #D0D0D0;
				padding: 0 15px;
				text: $base 500 16px;
			}
			&_find {
				flex: 1 1 20%;
				cursor: pointer;
				text: $base 500 16px;
				background-color: #D0D0D0;
				@include transition(.2s);
				&:hover {
					background-color: darken(#D0D0D0, 10%);
				}
			}
			&_map {
				flex: 1 1 30%;
				cursor: pointer;
				text: #fff 500 16px;
				@include transition(.2s);
			}
		}
	}
	&-fleamarket {
		float: left;
		width: 100%;
		padding: 0;
		
		&__menu {
			float: left;
			width: 100%;
			margin-bottom: 15px;
			border-bottom: 3px solid #C6C4C4;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					float: left;
				}
			}
			&_item {
				display: block;
				position: relative;
				padding: 10px 10px;
				text: #818181 500 16px;
				
				&:after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: -3px;
					height: 3px;
					opacity: 0;
					@include transition(.2s);
					background-color: $orange;
				}
				&_active {
					color: $base;
					&:after {
						opacity: 1;
					}
				}
			}
		}
		&__content {
			float: left;
			margin: 0 -10px;
			display: flex;
			/* width: 100%; */
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			
		}
		&__item {
			float: left;
			width: 1 / 3 * 100%;
		    -webkit-box-sizing: border-box;
		       -moz-box-sizing: border-box;
		            box-sizing: border-box;
		    padding: 0 10px;
		    margin-bottom: 15px;
		    img {
		    	width: 100%;
		    	height: 170px;
		    	object-fit: cover;
		    	object-position: 50%;
		    	margin-bottom: 5px;
		    }
		    &_title {
		    	float: left;
		    	width: 100%;
		    	text: #161616 bold 16px;
		    	@include transition(.2s);
		    	&:hover {
		    		color: $orange;
		    	}
		    }
		    &_price {
		    	text: $orange 600 16px;
		    }
		    &_year, &_mileage {
		    	text: #bebebe 500 16px;
		    }
		}
		&__controls {
			float: left;
			width: 100%;
			text-align: center;
		}
		&__new, &__top {
			width: 170px;
			margin: 0 5px 15px;
			padding: 10px;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			text: #fff 500 uppercase 14px;
			@include transition(.2s);
			-webkit-border-radius: 6px;
			        border-radius: 6px;
			svg {
				display: inline-block;
				size: 16px;
				margin-right: 5px;
				fill: #fff;
				vertical-align: middle;
			}
		}
		&__new {
			background-color: #6C6C6C;
			border-bottom: 4px solid #595858;			
			&:hover {
				background-color: darken(#595858, 10%);
				border-bottom: 4px solid #6C6C6C;
			}
		}
		&__top {
			background-color: #4c4b4b;	
			border-bottom: 4px solid #363636;		
			&:hover {
				background-color: darken(#363636, 10%);
				border-bottom: 4px solid #4c4b4b;
			}
		}
		&__all {
			float: left;
			width: 100%;
			color: #FFF;
			text-align: center;
			padding: 10px 0;
			text: #fff 500 17px
		}
	}
	&-deals {
		float: left;
		width: 100%;
		position: relative;
		&__link {
			float: left;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		    padding: 10px 0;
		   img {
				max-width: 110px;
				vertical-align: baseline;
				margin-right: 10px;
			}
			strong {
				text: $base bold uppercase 18px;
			}
		}
		ul {
			width: 100%;
			display: flex;
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				flex: 1 1 100%;
				text-align: center;
				
			}
		}
		&__nav {
			float: left;
			width: 100%;
			position: relative;
			margin-bottom: 15px;
			&_item {
				display: block;
				width: 100%;
				padding: 15px 10px;
				text: $base 500 12px;
				background-color: #CFCECE;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				@include respondTo(tablet) {
					height: 45px;
					padding: 5px 10px;
				}
				&:hover {
					background-color: darken(#CFCECE, 10%);
				}
				&_active {
					color: #fff;
					background-color: #1C1C1C;
					&:hover {
						background-color: #1C1C1C;
					}
				}
			}
		}
		&__content {
			float: left;
			width: 100%;
			position: relative;
			
		}
		&__controls {
			@extend .home-fleamarket__controls;			
		}
		&__new {
			@extend .home-fleamarket__new;			
		}
		&__top {
			@extend .home-fleamarket__top;			
		}
	}
	&-news {
		float: left;
		width: 100%;
		&__topline {
			float: left;
			width: 100%;
			a {
				@extend .home-deals__link;
			}
		}
		&__menu {
			@extend .home-fleamarket__menu;
			&_item {
				@extend .home-fleamarket__menu_item;
				&_active {
					@extend .home-fleamarket__menu_item_active;
				}
			}
		}
		&__wrap {
			float: left;
			width: 100%;
		}
		&__content {
			@extend .home-fleamarket__content;
		}
		&__item {
			@extend .home-fleamarket__item;
			&_title {
				@extend .home-fleamarket__item_title;
			}
			&_info {
				float: left;
				width: 100%;
			}
			p {				
				text: $base 16px;
			}
			span {
				float: left;
				text: #bebebe 12px;
				em {
					font-style: normal;
				}
			}
			span.home-news__item_visit {
				float: right;
				position: relative;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
				        box-sizing: border-box;
				padding-left: 20px;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 50%;
					size: 14px 8px;
					background-image: url('../img/icons/show.png');
					background-repeat: no-repeat;
					-webkit-background-size: contain;
					     -o-background-size: contain;
					        background-size: contain;					
					-webkit-transform: translateY(-50%);
					   -moz-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					     -o-transform: translateY(-50%);
					        transform: translateY(-50%);
				}
			}
		}
		&__controls {
			float: left;
			width: 100%;
		}
	}
}

.deals {		
	h3 {
		font-size: 20px;
		color: #1b1b1b;
		margin-bottom: 15px;
	}
	&__item {
		float: left;
		width: 33%;
		position: relative;
		margin-bottom: 15px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 0 25px;
	}
	&__block {					
		position: relative;
		float: left;
		width: 100%;
		-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.75);	

		&-sale {
			display: block;
			position: absolute;
			padding: 0 3px;
			height: 40px;
			line-height: 30px;
			text-align: center;
			top: 0;
			left: 10px;
			background-color: $orange;
			color: #FFF;
			font-size: 16px;
			z-index: 1;
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 65%, 50% 100%, 0 65%, 0 100%);
			  -moz-clip-path: polygon(0 0, 100% 0%, 100% 65%, 50% 100%, 0 65%, 0 100%);
			  -ms-clip-path: polygon(0 0, 100% 0%, 100% 65%, 50% 100%, 0 65%, 0 100%);
			  clip-path: polygon(0 0, 100% 0%, 100% 65%, 50% 100%, 0 65%, 0 100%);
		}		
		&-img {
			width: 100%;
			height: 161px;
			overflow: hidden;
			display: block;
			position: relative;
			text-align: center;
			word-spacing: nowrap;
			vertical-align: middle;
			&:after {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			img {
				width: 100%;
				height: 161px;
				object-fit: cover;
				object-position: 50%;
				vertical-align: middle;
			}
			&-more {				
				display: none;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 80px;
				padding-left: 5px;
				background: rgba(0, 0 , 0, 0.7);
				&:before {
				  	content: '';
				  	display: block;
				}
				p {
					margin: 5px;
					font-size: 12px;
					color: #FFF;
					text-align: left;
				}
				a {
					color: #FFF;
					text-transform: uppercase;
					@include border-radius(2px);
					font-size: 12px;
					padding: 5px;
					margin: 5px 0 5px 5px;
					float: left;
					background-color: #272727;
					background-image: -moz-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
					background-image: -o-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
					background-image: -webkit-linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
					background-image: linear-gradient(bottom, #0589cd 0%, #35abe5 100%);
					&:hover, &:active, &:focus {
						text-shadow: 1px 1px 2px #427388; 
						text-decoration: none;
						color: #fff;
						background-image: -moz-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);;
						background-image: -o-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
						background-image: -webkit-linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
						background-image: linear-gradient(bottom, darken(#0589cd, 10%) 0%, darken(#35abe5, 10%) 100%);
						
					}
				}
				
			}
		}
		&-desc {
			position: relative;
			float: left;
			width: 100%;			
			&-price {
				height: 30px;
				width: 100%;
				float: left;
				&_old {
					float: left;
					width: 70%;
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					        box-sizing: border-box;
					padding-right: 30px;
					height: 30px;
					p {
						margin: 0;
						line-height: 1.5;
						padding-left: 10px;
						font-size: 12px;
					}
				}
				&_new {
					float: left;
					position: relative;
					width: 30%;
					height: 30px;
					background-color: $orange;	
					&:before {
						content: "";
						position: absolute;
						left: -30px;
						border-top: 30px solid $orange;
						border-left: 30px solid transparent;
						z-index: 1;
						
					}				
					p {
						margin: 0;
						line-height: 1.5;
						text-align: right;
						text: #FFF 800 13px;
						padding-right: 20px;
						-webkit-box-sizing: border-box;
						   -moz-box-sizing: border-box;
						        box-sizing: border-box;
						font-size: 16px;
					}
				}
			}
		}
		&:hover {					
			.deals__block-img-more {
				display: block;
			}					
		}	
	}
	&__title {
		float: left;
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	    padding: 10px;
	    margin: 0;
	    border-bottom: 1px solid #e3e3e3;
	}
}

.btn_controls_active {
	background-color: $orange;
	border-bottom-color: darken($orange, 10%);
	&:hover {
		background-color: darken($orange, 10%);
		border-bottom-color: $orange;
	}
}