.market {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #f96400;
  &__title {
    display: block;
    position: relative;
    float: left;
    color: black;
    font-family: $calibri;
    font-size: 24px;
    margin: 30px 0px;
    text-align: left;
  }
}

.market-pagination {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #fff;
  &__way {
    display: block;
    position: relative;
    float: left;
    color: #272727;
    font-family: $calibri;
    font-size: 14px;
    margin: 20px 0px;
    &--link {
      color: #272727;
      margin-right: 5px;
    }
    &--link:hover {
      text-decoration: underline;
    }
    &--counter {
      color: #d0d0d0;
      font-weight: 700;
    }
  }
  &__pages {
    display: block;
    position: relative;
    float: right;
    font-family: $calibri;
    font-size: 14px;
    margin: 20px 0px;
    .back {
      display: inline-block;
      position: relative;
      color: #272727;
      margin-right: 10px;
      @include transition(0.3s);
      &:hover {
        color: $orange;
      }
    }
    .next {
      display: inline-block;
      position: relative;
      color: #f96400;
      margin-right: 10px;
      @include transition(0.3s);
      &:hover {
        color: $base;
      }
    }
    .next-arrow {
      display: inline-block;
      position: relative;
      width: 11px;
      height: 7px;
      background-image: url("../img/icons/pagin_arrow.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  &__box {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__clases {
    display: block;
    position: relative;
    float: left;
    padding: 0;
    list-style: none;
    li {
      width: 100%;
      font-family: $calibri;
      font-size: 14px;
      a {
        color: #272727;
        font-weight: 400;
        @include transition(0.3s);
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

.market-content {
  display: block;
  position: relative;
  width: 100%;
  float: left;
}

.market-slider {
  display: block;
  position: relative;
  width: 55%;
  float: left;
  /*margin-left: 43px;*/
  &__box {
    display: block;
    position: relative;
    width: 100%;
    float: left;
  }
  &__single {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    &--img {
      display: block;
      position: relative;
      width: 100%;
      height: 359px;
      @include overflow-img;
      img {
        max-width: 150%;
      }
    }
    .flex-control-thumbs li {
      width: 33%;
      height: 100px;
      float: left;
      margin: 0;
      overflow: hidden;
    }
  }
}

.market-descr {
  display: block;
  position: relative;
  width: 45%;
  float: left;
  &__box {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    background-color: #d0d0d0;
    margin-left: 34px;
    &--title {
      display: block;
      position: relative;
      float: left;
      color: #272727;
      font-family: $calibri;
      font-size: 18px;
      margin-left: 14px;
    }
    &--field {
      display: block;
      position: relative;
      width: 91%;
      height: 33px;
      float: left;
      background-color: white;
      border: 0.75px solid #bababa;
      border-radius: 7px;
      color: #272727;
      font-size: 16px;
      font-family: $calibri;
      line-height: 31px;
      margin-left: 14px;
      margin-top: 10px;
      padding-left: 14px;
    }
  }
  &__price {
    display: block;
    position: relative;
    width: 100%;
    height: 101px;
    float: left;
    background-color: #f96400;
    text-align: center;
    color: white;
    font-family: $calibri;
    font-size: 36px;
    font-weight: 700;
    line-height: 99px;
    margin-top: 4px;
    margin-left: 34px;
  }
}

.market-reviews {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  &__rating {
    display: block;
    position: relative;
    width: 50%;
    float: left;
  }
  &__title {
    display: block;
    position: relative;
    /*float: left;*/
    color: #272727;
    font-family: $calibri;
    font-size: 24px;
    margin-top: 27px;
  }
  &__meter {
    display: block;
    position: relative;
    width: 60px;
    height: 64px;
    float: left;
    margin-top: -34px;
    margin-left: 48px;
    @include overflow-img;
    max-width: 100%;
  }
  &__all {
    display: block;
    position: relative;
    width: 146px;
    height: 34px;
    float: left;
    background-color: #4c4b4b;
    border-radius: 6px;
    text-align: center;
    color: #fffcf4;
    font-family: $calibri;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 26px;
    border-bottom: 3px solid #363636;
    @include transition(0.3s);
    &:hover {
      color: $orange;
    }
  }
  &__counter {
    display: block;
    position: relative;
    width: 50%;
    float: left;
    text-align: right;
    margin-top: 20px;
    &--shows {
      font-family: $calibri;
      font-size: 16px;
      color: #272727;
    }
    &--total {
      font-family: $calibri;
      font-size: 16px;
      color: #f96400;
      text-decoration: underline;
    }
  }
}

.market-extra {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin-top: 24px;
  &__title {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    color: #272727;
    font-family: $calibri;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__unit {
    display: block;
    position: relative;
    width: 55%;
    float: left;
    &--item {
      display: block;
      position: relative;
      width: 98%;
      height: 34px;
      float: left;
      background-color: white;
      border: 1px solid #bababa;
      border-radius: 7px;
      color: #272727;
      font-family: $calibri;
      font-size: 16px;
      line-height: 30px;
      margin: 10px 0;
      padding-left: 11px;
    }
  }
  &__mileage {
    display: block;
    position: relative;
    width: 45%;
    float: left;
    margin-top: -38px;
    &--name {
      display: block;
      position: relative;
      width: 89%;
      float: right;
      color: #272727;
      font-family: $calibri;
      font-size: 16px;
      margin: 13px 0;
    }
    &--field {
      display: block;
      position: relative;
      width: 89%;
      height: 34px;
      float: right;
      background-color: white;
      color: #d0d0d0;
      font-family: $calibri;
      font-size: 16px;
      line-height: 30px;
      padding-left: 11px;
      border: 1px solid #bababa;
      border-radius: 7px;
    }
  }
}

.market-address {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  &__title {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    color: #272727;
    font-family: $calibri;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__map {
    display: block;
    position: relative;
    width: 55%;
    height: 286px;
    float: left;
    overflow: hidden;
    #marketMap {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
  &__messengers {
    display: block;
    position: relative;
    width: 45%;
    float: left;
    &--name {
      position: relative;
      display: block;
      float: left;
      width: 340px;
      height: 45px;
      border-bottom: 3px solid #363636;
      border-radius: 6px;
      background-color: #4c4b4b;
      text-align: center;
      color: #fffcf4;
      font-family: $calibri;
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 11px;
      margin-left: 44px;
      .messenger {
        display: block;
        position: relative;
        width: 50%;
        float: left;
        text-align: left;
        color: #fffcf4;
        @include transition(0.3s);
        &:hover {
          color: $orange;
        }
        img {
          float: left;
          display: block;
          margin-top: 6px;
          margin-left: 16px;
          margin-right: 4px;
        }
      }
    }
    .messenger:last-of-type {
      display: block;
      position: relative;
      width: 50%;
      float: left;
      text-align: left;
      color: #fffcf4;
      @include transition(0.3s);
      &:hover {
        color: $orange;
      }
      img {
        margin-top: 9px;

      }
    }
  }
}

.market-tabs {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  .title__tabs {
    width: 100%;
    float: left;
    ul {
      width: 100%;
      float: left;
      list-style: none;
      padding: 0;
      li {
        display: block;
        float: left;
        margin-right: 20px;
        .page__tabs_target {
          color: #272727;
          font-family: $calibri;
          font-size: 16px;
          font-weight: 400;
          @include transition(0.3s);
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
  &__box {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    border: 1px solid #272727;
    padding: 25px 15px;
    margin-bottom: 32px;
    .page__tabcontent {
      width: 100%;
    }
    .one {
      display: block;
    }
    .two {
      display: none;
    }
  }
}

.market-social {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: #272727;
  margin-bottom: 27px;
  &__share {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    position: relative;
    float: left;
    margin: 14px 0;
    &--write {
      display: block;
      position: relative;
      float: left;
      color: white;
      font-family: $calibri;
      font-size: 16px;
      line-height: 18px;
      text-decoration: underline;
      margin-left: 20px;
      &:hover {
        text-decoration: none;
        color: #FF6B00;
      }
      svg {
        display: block;
        position: relative;
        width: 20px;
        height: 18px;
        fill: #FF6B00;
        float: left;
        margin-top: 3px;
        margin-right: 6px;
      }
    }
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    position: relative;
    float: left;
    /*margin: 14px 0;*/
    &--vk {
      display: block;
      position: relative;
      width: 28px;
      height: 28px;
      background-color: #fff;
      float: left;
      margin: 10px 5px;
      svg {
        display: block;
        position: absolute;
        width: 33px;
        height: 33px;
        fill: #48729e;
        top: 0;
        left: -1px;
        /*margin-top: 3px;
        margin-right: 6px;*/
      }
    }
    &--fb {
      display: block;
      position: relative;
      width: 28px;
      height: 28px;
      background-color: #fff;
      float: left;
      margin: 10px 5px;
      svg {
        display: block;
        position: absolute;
        width: 33px;
        height: 33px;
        fill: #3b5998;
        top: 0;
        left: -1px;
        /*margin-top: 3px;
        margin-right: 6px;*/
      }
    }
    &--ok{
      display: block;
      position: relative;
      width: 28px;
      height: 28px;
      background-color: #fff;
      float: left;
      margin: 10px 5px;
      svg {
        display: block;
        position: absolute;
        width: 33px;
        height: 33px;
        fill: #eb722e;
        top: 0;
        left: -1px;
        /*margin-top: 3px;
        margin-right: 6px;*/
      }
    }
    &--mv{
      display: block;
      position: relative;
      width: 28px;
      height: 28px;
      background-color: #fff;
      float: left;
      margin: 10px 5px;
      img {
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        width: 33px;
        height: 35px;
      }
    }
    &--g{
      display: block;
      position: relative;
      width: 28px;
      height: 28px;
      background-color: #fff;
      float: left;
      margin: 10px 5px;
      svg {
        display: block;
        position: absolute;
        width: 33px;
        height: 33px;
        fill: #dc4e41;
        top: 0;
        left: -1px;
        /*margin-top: 3px;
        margin-right: 6px;*/
      }
    }
  }
}
.market-same{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  &__title{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    color: #272727;
    font-family: $calibri;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    float: left;
    &--item{
      display: block;
      position: relative;
      width: 19%;
      float: left;
      margin-bottom: 32px;
    }
    &--img{
      position: relative;
      width: 100%;
      height: 102px;
      @include overflow-img;
      margin: 0px auto;
        img{
          width: 100%;
          height: 102px;
          object-fit: cover;
        }
    }
    &--content{
      position: relative;
      width: 100%;
      float: left;
      font-family: $calibri;
      font-size: 12px;
      line-height: 17px;
      .name{
        position: relative;
        width: 100%;
        float: left;
        color: #161616;
        font-weight: bold;
      }
      .about{
        position: relative;
        width: 100%;
        float: left;
        color: #bebebe;
        .price{
          color: #f96400;
        }
      }
    }
  }
}

